.search {
    width: 75vw;
    min-width: 500px;
    margin: 0 auto;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    transform: translateY(13vh);
    header{
        height:20vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}