.container {
    display: flex;
    justify-content: center;
    background-color: var(--mc-bg-color);
    align-items: center;
    width: 100%;
    height: 60vh;
    position: relative;
}


.content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.my-recommon {
    width: 75vw;
    min-height: 300px;
    margin: 3vh auto;
    border: 1px solid #d4d4d4;
    padding: 0 10px;
}

.carousel {
    height:60vh;
    object-fit: contain;
}