.container {
    display: flex;
    justify-content: center;
    background-color: #242424;
    align-items: center;
}


.content{
    display:flex;
    justify-content: space-between;
    width:calc(100% - 12.5vw + 20px);
}