.songs {
    padding: 20px;
}

.songs>:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.songs>hr {
    background-color: #F53F3F;
    height: 1.5px;
}

.song {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.song>span:hover {
    text-decoration: underline;
}

.song-header:hover {
    cursor: pointer;
}

.song-album:hover {
    cursor: pointer;
    color: red;
}

.song-order {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* 歌单列表中播放图标样式 ,分为默认形式和点击之后的样式*/
.song-order-svg {
    font-size: 20px;
    opacity: 0.4;
}

.song-order-svg:hover {
    opacity: 0.8;
    cursor: pointer;
}

.song-order-svg1 {
    font-size: 20px;
    opacity: 0.9;
    cursor: pointer;
    color: #F53F3F;
}

.blank {
    height: 10vh;
}

/* 分页 */
.pagination {
    width: 100%;
    margin:0 auto;
}