.container {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 13vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}

.list {
    display: flex;
    flex-direction: column;
    border: 1.5px solid #eee;
    padding-top: 45px;
    padding-left: 35px;
    padding-right: 15px;
}

.list>span:first-child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 100px 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.list>span>img:first-child {
    width: 80%;
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/3;
}

.list>span>span {
    grid-column: 3/4;
    grid-row: 1/2;
}

.creator {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

.creator>img {
    width: 100px;
    height: 100px;
    margin-right: 5%;
}

.list>span>p {
    grid-column: 2/4;
    grid-row: 3/4;
}

.songs {
    padding: 20px;
}

.songs>:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.songs>hr {
    background-color: #F53F3F;
    height: 1.5px;
}

.song {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.song>span:hover {
    text-decoration: underline;
}

.song-header:hover {
    cursor: pointer;
}

.song-album:hover {
    cursor: pointer;
    color: red;
}

.song-order {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* 歌单列表中播放图标样式 */
.song-order-svg {
    font-size: 20px;
    opacity: 0.4;
}

.song-order-svg:hover{
    opacity: 0.8;
    cursor: pointer;
}
