.artist {
    width: 100%;
    padding-top: 13vh;
    overflow-x: hidden;
}

.content {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    padding: 20px;
    padding-bottom: 10vh;

    >header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2vw;
        grid-template-rows: 1fr;

        >div:first-child {
            grid-column: 1/2;
            border: 1px solid #d4d4d4;
            padding: 3px;
            box-sizing: border-box;

            img {
                width: 100%;
            }
        }

        >div:nth-child(2) {
            grid-column: 2/4;
            border: 1px solid #D4D4D4;
            padding: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >p:first-child {
                h2 {
                    display: inline-block;
                }

                h4 {
                    display: inline;
                    float: right;
                    font-weight: 600;
                    color: #f53f3f;
                }
            }


            >div {
                display: flex;
                justify-content: space-between;
                font-size: 1.1em;
                font-weight: 700;
            }

            >span {
                display: block;
                width: 100%;
                height: 0.2px;
                background-color: #d4d4d4;
            }

            footer {}
        }
    }

    >hr {
        background-color: #f53f3f;
        margin-top: 2vh;
    }
}

.songs {
    border: 1px solid #D4D4D4;
}

.description {
    font-size: 15px;
    line-height: 30px;
    text-indent: 30px;
}