$total-width:74vw;//总宽度
$songlist-width:40vw;//歌曲列表宽度
$total-height:50vh;//总高度
$header-height:8vh;//头部高度
$scroll-width:6px;//滚动条宽度
.playlist{
    position:absolute;
    display: flex;
    width:$total-width;
    height:$total-height;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    top:calc(0vh - $total-height);
    left:50%;
    transform: translateX(-50%);
    color:#fff;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; background-blend-mode: multiply,multiply;
}
@mixin headerContent{
    box-sizing: border-box;
    box-shadow: 0 5px 10px -5px gray;
    width:$songlist-width;
    height: $header-height;
    background-color: #000;
    display: table-cell;
    vertical-align: middle;
}
@mixin headerHover{
    opacity: 1;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.content>header{
    padding:0 2vw;
    @include headerContent();
    width:calc($songlist-width - $scroll-width/2);
    &>span:first-of-type{
        float:left;
        left:2vw;
        font-weight: 600;
        font-size:1.1rem;
    }
    &>div:first-of-type{
        float:right;
        opacity: 0.8;
        &:hover{
            @include headerHover();
        }
    }
}
.content{
    position:relative;
}
.content>p{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate3d(-50%,-50%,0);
}
.songlist{
    overflow: auto;
    width:$songlist-width;
    height:calc($total-height - $header-height);
    position:relative;
}
//滚动条样式
.songlist::-webkit-scrollbar {
    width: $scroll-width;
}

//滚动条滑块
.songlist::-webkit-scrollbar-thumb {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    border-radius: calc($scroll-width/2);
}

//滚动条槽条
.songlist::-webkit-scrollbar-track{
    background-color:#242424;
}
//当切换窗口时滚动条滑块样式
.songlist::-webkit-scrollbar-thumb:window-inactive {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
@mixin omit(){
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: center;
}
.song{
    height: 2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    &:hover{
        background:rgba(0,0,0,0.7);
    }
    &>span{
        line-height: 2rem;
        flex:2;
        overflow: hidden;
        height:100%;
        @include omit();
        &>a{
            color:#fff;
        }
    }
    &>span:first-of-type{
        font-size:1.2rem;
        flex:1;
    }
    &>span:nth-of-type(3){
        flex:3;
        &>i{
            opacity: 0.7;
        }
        &>i:hover{
            opacity: 1;
        }
        &>i:first-of-type{
            padding-right:1rem;
        }
    }
    &>span:nth-of-type(4){
       &>a:hover{
            border-bottom:1px solid #fff;
        }
    }
    &>span:last-of-type{
        text-align: right;
        padding-right:1rem;
    }
}
.lyric{
    width:calc($total-width - $songlist-width);
    padding-top:$header-height;
}
.lyric>header{
    @include headerContent();
    width:calc($total-width - $songlist-width + $scroll-width/2);
    position:absolute;
    right:0;
    top:0;
    text-align: center;
    &>span{
        line-height:$header-height;
    }
    &>span:first-of-type{
        margin-left:$scroll-width;
    }
    &>span:last-of-type{
        cursor: pointer;
        float:right;
        transform: translate3d(-1rem,0,0);
    }
}

.lyric-content{
    text-align: center;
    height:100%;
    overflow: auto;
    color:rgba(255, 255, 255, 0.7);
    &>p{
        overflow: hidden;
    }
}

//滚动条样式
.lyric-content::-webkit-scrollbar {
    width: $scroll-width;
}
.lyric-content::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    border-radius: calc($scroll-width/2);
}
.lyric-content::-webkit-scrollbar-thumb:window-inactive {
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}
.lyric-content::-webkit-scrollbar-track{
    background-color:#242424;
}