/* 整个播放条容器的样式 */
@mixin bar() {
    position: fixed;
    z-index: 7;
    width: 100vw;
    height: 9vh;
    background-color: #252933;
    color: aliceblue;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.playbar {
    @include bar;
    bottom: 0;
    left: 0;
    animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0px);
    }
}

.hidden-indicate {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

/* 播放条移入底部 */
.playbar-move {
    @include bar();
    bottom:-9vh;
    animation: slide-down 1s ease-in-out;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.coverImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar>div>img {
    width: 47px;
    border-radius: 5%;
}

.playbar-move>div>img {
    width: 47px;
    border-radius: 5%;
}

.playmusic {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 30px;
    justify-content: space-around;
}

/*  几个播放按钮的样式 */
.playmusic-div1 {
    opacity: 0.4;
    margin: 10px;
    cursor: pointer;
}

.playmusic-div1:hover {
    opacity: 0.8;
}

.playmusic-div2 {
    opacity: 0.4;
}

.playmusic-div2:hover {
    opacity: 0.9;

}

.playmusic-div3 {
    margin: 10px;
    opacity: 0.4;
    cursor: pointer;
}

.playmusic-div3:hover {
    opacity: 0.8;
}


.music-bar {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-bar>small {
    position: absolute;
    top: 0;
    display: flex;
    transform: translateX(-2vw);
    justify-content: space-between;
}

.music-bar>span {
    display: flex;
    align-items: center;
}

.music-bar>span>small {
    margin-left: 2%;
}

.play-method {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.play-sound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-sound-btn {
    opacity: 0.5;
}

.play-sound-btn:hover {
    opacity: 0.8;
}

/* 音量调整条 */
.play-sound-bar {
    height: 100px;
    position: absolute;
    float: top;
    top: -104px;
    background: #242424;
    opacity: 0.7;
    width: 40px;
    padding: 0 18px;
    padding-top: 1px;
}