/* 整个播放条容器的样式 */
@mixin bar() {
    position: fixed;
    z-index: 21;
    width: 100%;
    min-width:100px;
    background-color: #252933;
    color: aliceblue;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
.playbar {
    @include bar;
    bottom: 0;
    left: 0;
    animation: slide-up 0.5s ease-in-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0px);
    }
}


/* 播放条移入底部 */
.playbar-move {
    @include bar();
    animation: slide-down 1s ease-in-out;
}

@keyframes slide-down {
    0% {
        bottom:0;
    }
    
    100% {
        bottom:-100%;
    }
}


.hidden-indicate {
    display: flex;
    cursor: pointer;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.coverImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar>div>img {
    width: 47px;
    border-radius: 5%;
}

.playbar-move>div>img {
    width: 47px;
    border-radius: 5%;
}

.playmusic {
    flex:1;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 30px;
    justify-content: space-around;
}

/*  几个播放按钮的样式 */
.playmusic-div1 {
    opacity: 0.4;
    margin: 10px;
    cursor: pointer;
}

.playmusic-div1:hover {
    opacity: 0.8;
}

.playmusic-div2 {
    opacity: 0.4;
}

.playmusic-div2:hover {
    opacity: 0.9;

}

.playmusic-div3 {
    margin: 10px;
    opacity: 0.4;
    cursor: pointer;
}

.playmusic-div3:hover {
    opacity: 0.8;
}


.music-bar {
    flex: 3;
    &>li:first-of-type{
        height:80%;
        display: flex;
        align-items: center;
        width:100%;
        &>:first-child{
            flex:3;
        }
        &>:last-child{
            flex:1;
        }

    }
    &>li:nth-of-type(2){
        line-height: 50%;
        height:30%;
        font-size:0.1rem;
    }
}



.play-method {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img{
        width:1rem;
        height:1rem;
        cursor: pointer;
    }
    >:last-child {
        opacity: 0.8;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

.play-sound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-sound-btn {
    opacity: 0.5;
}

.play-sound-btn:hover {
    opacity: 0.8;
}

/* 音量调整条 */
.play-sound-container{
    position: absolute;
    width: 36px;
    height: 18vh;
    z-index:22;
    background-color: #242424;
    opacity: 0.7;
    top:-18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-sound-bar {
    height:70%;
}
