.video{
    width:75vw;
    height:87vh;
    margin:0 auto;
    transform: translateY(13vh);
    border-left:1px solid #d4d4d4;
    border-right:1px solid #d4d4d4;
    display: flex;
    main{
        flex:3;
        border-right: 1px solid #d4d4d4;
        padding:1% 5%;
        video{
            width:100%;
        }
    }
    aside{
        flex:1;
    }
}