* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

:root{
  --mc-bg-color:#242424;
  --mc-primary-color:rgb(205, 32, 31);
  --mc-nav-height:4rem;
  --mc-playbar-height:3.5rem;
}

.app {
  overflow: auto;
  overflow-x: hidden;
}
